In [79]:
import requests
import pandas as pd

url = "https://api.census.gov/data/timeseries/poverty/saipe"

# Set up the parameters
params = {
    "get": "NAME,COUNTY,STABREV,STATE,GEOCAT,GEOID,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,SAEPOV0_4_PT,SAEPOV0_4_UB90,SAEPOV5_17R_LB90,SAEPOV5_17R_MOE,SAEPOV5_17R_PT,SAEPOV5_17R_UB90,SAEPOVALL_LB90,SAEPOVALL_MOE,SAEPOVALL_PT,SAEPOVALL_UB90,SAEPOVRT0_17_LB90,SAEPOVRT0_17_MOE,SAEPOVRT0_17_PT,SAEPOVRT0_17_UB90,SAEPOVRT0_4_LB90,SAEPOVRT0_4_MOE,SAEPOVRT0_4_PT,SAEPOVRT0_4_UB90,SAEPOVRT5_17R_LB90,SAEPOVRT5_17R_MOE,SAEPOVRT5_17R_PT,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR",
    "for": "county:*",
    "time": "from 2010 to 2020",
}

# Make the API request
response = requests.get(url, params=params)

# Get the response status code
status_code = response.status_code

# Print the response status code
print("Response Status Code:", status_code)

# Process the response data (if the status code is in the success range, e.g., 200-299)
if response.status_code >= 200 and response.status_code < 300:
    data = response.json()
    if data:
        # Convert the response data to a DataFrame
        df = pd.DataFrame(data[1:], columns=data[0])
        # Process the DataFrame here
        print(df.head())  # Print the first few rows of the DataFrame
    else:
        print("No data available.")
else:
    print("Error:", response.text)  # Print the error message if the request was not successful

Response Status Code: 200
             NAME COUNTY STABREV STATE GEOCAT  GEOID SAEMHI_LB90 SAEMHI_MOE  \
0  Autauga County    001      AL    01    050  01001       49486       3563
1  Baldwin County    003      AL    01    050  01003       45169       2449
2  Barbour County    005      AL    01    050  01005       30589       2485
3     Bibb County    007      AL    01    050  01007       32578       2894
4   Blount County    009      AL    01    050  01009       39577       3329

  SAEMHI_PT SAEMHI_UB90  ... SAEPOVRTALL_PT SAEPOVRTALL_UB90 SAEPOVU_0_17  \
0     53049       56612  ...           11.9             14.5        14464
1     47618       50067  ...           13.3             15.4        41419
2     33074       35559  ...           25.3             30.9         5928
3     35472       38366  ...           20.9             25.6         5059
4     42906       46235  ...           16.5             19.3        13921

  SAEPOVU_0_4 SAEPOVU_5_17R SAEPOVU_ALL  YEAR  time state county
0        None         10892       54145  2010  2010    01    001
1        None         30277      180560  2010  2010    01    003
2        None          4245       24146  2010  2010    01    005
3        None          3704       20620  2010  2010    01    007
4        None         10319       56783  2010  2010    01    009

[5 rows x 50 columns]

In [80]:
#check data typed and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34567 entries, 0 to 34566
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NAME                34567 non-null  object
 1   COUNTY              34567 non-null  object
 2   STABREV             34567 non-null  object
 3   STATE               34567 non-null  object
 4   GEOCAT              34567 non-null  object
 5   GEOID               34567 non-null  object
 6   SAEMHI_LB90         34556 non-null  object
 7   SAEMHI_MOE          34556 non-null  object
 8   SAEMHI_PT           34556 non-null  object
 9   SAEMHI_UB90         34556 non-null  object
 10  SAEPOV0_17_LB90     34556 non-null  object
 11  SAEPOV0_17_MOE      34556 non-null  object
 12  SAEPOV0_17_PT       34556 non-null  object
 13  SAEPOV0_17_UB90     34556 non-null  object
 14  SAEPOV0_4_LB90      0 non-null      object
 15  SAEPOV0_4_MOE       0 non-null      object
 16  SAEPOV0_4_PT        0 non-null      object
 17  SAEPOV0_4_UB90      0 non-null      object
 18  SAEPOV5_17R_LB90    34556 non-null  object
 19  SAEPOV5_17R_MOE     34556 non-null  object
 20  SAEPOV5_17R_PT      34556 non-null  object
 21  SAEPOV5_17R_UB90    34556 non-null  object
 22  SAEPOVALL_LB90      34556 non-null  object
 23  SAEPOVALL_MOE       34556 non-null  object
 24  SAEPOVALL_PT        34556 non-null  object
 25  SAEPOVALL_UB90      34556 non-null  object
 26  SAEPOVRT0_17_LB90   34556 non-null  object
 27  SAEPOVRT0_17_MOE    34556 non-null  object
 28  SAEPOVRT0_17_PT     34556 non-null  object
 29  SAEPOVRT0_17_UB90   34556 non-null  object
 30  SAEPOVRT0_4_LB90    0 non-null      object
 31  SAEPOVRT0_4_MOE     0 non-null      object
 32  SAEPOVRT0_4_PT      0 non-null      object
 33  SAEPOVRT0_4_UB90    0 non-null      object
 34  SAEPOVRT5_17R_LB90  34556 non-null  object
 35  SAEPOVRT5_17R_MOE   34556 non-null  object
 36  SAEPOVRT5_17R_PT    34556 non-null  object
 37  SAEPOVRT5_17R_UB90  34556 non-null  object
 38  SAEPOVRTALL_LB90    34556 non-null  object
 39  SAEPOVRTALL_MOE     34556 non-null  object
 40  SAEPOVRTALL_PT      34556 non-null  object
 41  SAEPOVRTALL_UB90    34556 non-null  object
 42  SAEPOVU_0_17        34556 non-null  object
 43  SAEPOVU_0_4         0 non-null      object
 44  SAEPOVU_5_17R       34556 non-null  object
 45  SAEPOVU_ALL         34556 non-null  object
 46  YEAR                34567 non-null  object
 47  time                34567 non-null  object
 48  state               34567 non-null  object
 49  county              34567 non-null  object
dtypes: object(50)
memory usage: 13.2+ MB

In [81]:
# drop NA values  
df.dropna(axis=1, how='all', inplace=True)

#check for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34567 entries, 0 to 34566
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NAME                34567 non-null  object
 1   COUNTY              34567 non-null  object
 2   STABREV             34567 non-null  object
 3   STATE               34567 non-null  object
 4   GEOCAT              34567 non-null  object
 5   GEOID               34567 non-null  object
 6   SAEMHI_LB90         34556 non-null  object
 7   SAEMHI_MOE          34556 non-null  object
 8   SAEMHI_PT           34556 non-null  object
 9   SAEMHI_UB90         34556 non-null  object
 10  SAEPOV0_17_LB90     34556 non-null  object
 11  SAEPOV0_17_MOE      34556 non-null  object
 12  SAEPOV0_17_PT       34556 non-null  object
 13  SAEPOV0_17_UB90     34556 non-null  object
 14  SAEPOV5_17R_LB90    34556 non-null  object
 15  SAEPOV5_17R_MOE     34556 non-null  object
 16  SAEPOV5_17R_PT      34556 non-null  object
 17  SAEPOV5_17R_UB90    34556 non-null  object
 18  SAEPOVALL_LB90      34556 non-null  object
 19  SAEPOVALL_MOE       34556 non-null  object
 20  SAEPOVALL_PT        34556 non-null  object
 21  SAEPOVALL_UB90      34556 non-null  object
 22  SAEPOVRT0_17_LB90   34556 non-null  object
 23  SAEPOVRT0_17_MOE    34556 non-null  object
 24  SAEPOVRT0_17_PT     34556 non-null  object
 25  SAEPOVRT0_17_UB90   34556 non-null  object
 26  SAEPOVRT5_17R_LB90  34556 non-null  object
 27  SAEPOVRT5_17R_MOE   34556 non-null  object
 28  SAEPOVRT5_17R_PT    34556 non-null  object
 29  SAEPOVRT5_17R_UB90  34556 non-null  object
 30  SAEPOVRTALL_LB90    34556 non-null  object
 31  SAEPOVRTALL_MOE     34556 non-null  object
 32  SAEPOVRTALL_PT      34556 non-null  object
 33  SAEPOVRTALL_UB90    34556 non-null  object
 34  SAEPOVU_0_17        34556 non-null  object
 35  SAEPOVU_5_17R       34556 non-null  object
 36  SAEPOVU_ALL         34556 non-null  object
 37  YEAR                34567 non-null  object
 38  time                34567 non-null  object
 39  state               34567 non-null  object
 40  county              34567 non-null  object
dtypes: object(41)
memory usage: 10.8+ MB

In [82]:
# Process the DataFrame here
unique_years = df['YEAR'].unique().tolist()
num_unique_years = df['YEAR'].value_counts().to_dict()
print("Unique Years:", unique_years)
print("Number of Unique Years:", num_unique_years)

Unique Years: ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
Number of Unique Years: {'2010': 3143, '2011': 3143, '2012': 3143, '2013': 3143, '2020': 3143, '2016': 3142, '2015': 3142, '2018': 3142, '2014': 3142, '2017': 3142, '2019': 3142}

In [83]:
unique_geo_ids = df['COUNTY'].unique().tolist()
print("Unique GEO_IDs:", unique_geo_ids)

Unique GEO_IDs: ['001', '003', '005', '007', '009', '011', '013', '015', '017', '019', '021', '023', '025', '027', '029', '031', '033', '035', '037', '039', '041', '043', '045', '047', '049', '051', '053', '055', '057', '059', '061', '063', '065', '067', '069', '071', '073', '075', '077', '079', '081', '083', '085', '087', '089', '091', '093', '095', '097', '099', '101', '103', '105', '107', '109', '111', '113', '115', '117', '119', '121', '123', '125', '127', '129', '131', '133', '016', '020', '050', '060', '068', '070', '090', '100', '110', '122', '130', '150', '164', '170', '180', '185', '188', '195', '198', '220', '230', '240', '261', '270', '275', '282', '290', '012', '135', '137', '139', '141', '143', '145', '147', '149', '014', '086', '151', '153', '155', '157', '159', '161', '163', '165', '167', '169', '171', '173', '175', '177', '179', '181', '183', '187', '189', '191', '193', '197', '199', '201', '205', '207', '209', '211', '213', '215', '217', '219', '221', '223', '225', '227', '229', '231', '233', '235', '237', '239', '241', '243', '245', '247', '249', '251', '253', '255', '257', '259', '263', '265', '267', '269', '271', '273', '277', '279', '281', '283', '285', '287', '289', '291', '293', '295', '297', '299', '301', '303', '305', '307', '309', '311', '313', '315', '317', '319', '321', '203', '510', '186', '006', '028', '323', '325', '327', '329', '331', '333', '335', '337', '339', '341', '343', '345', '347', '349', '351', '353', '355', '357', '359', '361', '363', '365', '367', '369', '371', '373', '375', '377', '379', '381', '383', '385', '387', '389', '391', '393', '395', '397', '399', '401', '403', '405', '407', '409', '411', '413', '415', '417', '419', '421', '423', '425', '427', '429', '431', '433', '435', '437', '439', '441', '443', '445', '447', '449', '451', '453', '455', '457', '459', '461', '463', '465', '467', '469', '471', '473', '475', '477', '479', '481', '483', '485', '487', '489', '491', '493', '495', '497', '499', '501', '503', '505', '507', '036', '515', '520', '530', '540', '550', '570', '580', '590', '595', '600', '610', '620', '630', '640', '650', '660', '670', '678', '680', '683', '685', '690', '700', '710', '720', '730', '735', '740', '750', '760', '770', '775', '790', '800', '810', '820', '830', '840', '078', '158', '102', '066']

In [84]:
#rename GEOID column to FIPS
df.rename(columns={'GEOID':'FIPS'}, inplace=True)

df.head(10)

,NAME,COUNTY,STABREV,STATE,GEOCAT,FIPS,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,...,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR,time,state,county
0,Autauga County,001,AL,01,050,01001,49486,3563,53049,56612,...,2.60,11.9,14.5,14464,10892,54145,2010,2010,01,001
1,Baldwin County,003,AL,01,050,01003,45169,2449,47618,50067,...,2.10,13.3,15.4,41419,30277,180560,2010,2010,01,003
2,Barbour County,005,AL,01,050,01005,30589,2485,33074,35559,...,5.60,25.3,30.9,5928,4245,24146,2010,2010,01,005
3,Bibb County,007,AL,01,050,01007,32578,2894,35472,38366,...,4.70,20.9,25.6,5059,3704,20620,2010,2010,01,007
4,Blount County,009,AL,01,050,01009,39577,3329,42906,46235,...,2.80,16.5,19.3,13921,10319,56783,2010,2010,01,009
5,Bullock County,011,AL,01,050,01011,23485,2484,25969,28453,...,7.60,31.1,38.7,2380,1660,9216,2010,2010,01,011
6,Butler County,013,AL,01,050,01013,26759,2741,29500,32241,...,4.70,28.1,32.8,4977,3614,20597,2010,2010,01,013
7,Calhoun County,015,AL,01,050,01015,35408,2508,37916,40424,...,2.40,23.5,25.9,26575,19437,115503,2010,2010,01,015
8,Chambers County,017,AL,01,050,01017,27603,2458,30061,32519,...,3.30,28.5,31.8,7558,5638,33689,2010,2010,01,017
9,Cherokee County,019,AL,01,050,01019,31299,3111,34410,37521,...,4.20,21.2,25.4,5484,4109,25652,2010,2010,01,019

In [85]:
#create county_df from df
keep = ['NAME', 'COUNTY', 'STABREV', 'STATE', 'GEOCAT', 'FIPS', 'SAEPOVRTALL_PT']
county_df = df.filter(items=keep, axis=1)

# export to csv
county_df.to_csv('county_df.csv', index=False)

# write to json file
county_df.to_json('county_df.json', orient='records')

county_df.head()

             NAME COUNTY STABREV STATE GEOCAT   FIPS SAEPOVRTALL_PT
0  Autauga County    001      AL    01    050  01001           11.9
1  Baldwin County    003      AL    01    050  01003           13.3
2  Barbour County    005      AL    01    050  01005           25.3
3     Bibb County    007      AL    01    050  01007           20.9
4   Blount County    009      AL    01    050  01009           16.5

In [86]:
#create state_df from df
keep = ['STABREV', 'STATE', 'GEOCAT', 'FIPS', 'SAEPOVRTALL_PT']
state_df = df.filter(items=keep, axis=1)

# export to csv
state_df.to_csv('state_df.csv', index=False)

# write to json file
state_df.to_json('state_df.json', orient='records')
state_df.head()

  STABREV STATE GEOCAT   FIPS SAEPOVRTALL_PT
0      AL    01    050  01001           11.9
1      AL    01    050  01003           13.3
2      AL    01    050  01005           25.3
3      AL    01    050  01007           20.9
4      AL    01    050  01009           16.5